In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('Gaming_Hours_vs_Performance_1000_Rows.csv')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User_ID                 1000 non-null   object
 1   Age                     1000 non-null   int64
 2   Gender                  1000 non-null   object
 3   Occupation              1000 non-null   object
 4   Game_Type               1000 non-null   object
 5   Daily_Gaming_Hours      1000 non-null   float64
 6   Weekly_Gaming_Hours     1000 non-null   float64
 7   Primary_Gaming_Time     1000 non-null   object
 8   Sleep_Hours             1000 non-null   float64
 9   Stress_Level            1000 non-null   int64
 10  Focus_Level             1000 non-null   int64
 11  Academic_or_Work_Score  1000 non-null   int64
 12  Productivity_Level      1000 non-null   int64
 13  Performance_Impact      1000 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 109.5+ KB

In [51]:
df.head()

,User_ID,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Weekly_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level,Performance_Impact
0,U0001,21,Male,Working Professional,Action,4.0,28.0,Morning,4.6,6,4,69,66,Negative
1,U0002,35,Female,Student,Sports,1.0,7.0,Night,5.4,2,7,67,72,Neutral
2,U0003,26,Male,Student,Puzzle,2.0,14.0,Morning,8.0,4,8,82,82,Positive
3,U0004,32,Male,Working Professional,Action,1.0,7.0,Night,4.9,7,7,71,66,Neutral
4,U0005,19,Male,Working Professional,Action,2.1,14.7,Morning,7.0,7,7,67,63,Neutral

In [52]:
df.describe()

,Age,Daily_Gaming_Hours,Weekly_Gaming_Hours,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,26.600000,3.320300,23.242100,6.479500,5.454000,6.065000,75.07800,75.275000
std,5.207218,1.613059,11.291414,1.155848,2.281905,2.010178,11.67494,12.058805
min,18.000000,0.500000,3.500000,4.500000,2.000000,3.000000,55.00000,50.000000
25%,22.000000,2.000000,14.000000,5.475000,3.000000,4.000000,65.00000,65.000000
50%,27.000000,3.300000,23.100000,6.500000,5.000000,6.000000,75.00000,75.000000
75%,31.000000,4.800000,33.600000,7.500000,7.000000,8.000000,85.00000,86.000000
max,35.000000,6.000000,42.000000,8.500000,9.000000,9.000000,95.00000,100.000000

In [53]:
df.duplicated().sum()

np.int64(0)

In [54]:
df['User_ID'].nunique() == len(df)

True

In [55]:
df['Sleep_Categories'] = df['Sleep_Hours'].apply(
    lambda x: 'Long Sleep' if x > 8 else 'Optimal Sleep' if 6 <= x <= 8 else 'Short Sleep'
)

In [56]:
df

,User_ID,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Weekly_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level,Performance_Impact,Sleep_Categories
0,U0001,21,Male,Working Professional,Action,4.0,28.0,Morning,4.6,6,4,69,66,Negative,Short Sleep
1,U0002,35,Female,Student,Sports,1.0,7.0,Night,5.4,2,7,67,72,Neutral,Short Sleep
2,U0003,26,Male,Student,Puzzle,2.0,14.0,Morning,8.0,4,8,82,82,Positive,Optimal Sleep
3,U0004,32,Male,Working Professional,Action,1.0,7.0,Night,4.9,7,7,71,66,Neutral,Short Sleep
4,U0005,19,Male,Working Professional,Action,2.1,14.7,Morning,7.0,7,7,67,63,Neutral,Optimal Sleep
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,U0996,23,Female,Working Professional,Simulation,4.0,28.0,Morning,7.8,8,4,95,96,Neutral,Optimal Sleep
996,U0997,30,Female,Student,Puzzle,2.9,20.3,Morning,4.9,4,7,62,67,Neutral,Short Sleep
997,U0998,18,Male,Working Professional,Action,1.0,7.0,Night,4.6,2,8,92,89,Neutral,Short Sleep
998,U0999,25,Female,Student,Simulation,4.5,31.5,Morning,8.4,7,4,70,75,Neutral,Long Sleep
999,U1000,19,Female,Student,Strategy,4.5,31.5,Night,7.7,8,9,71,76,Neutral,Optimal Sleep

In [57]:
print(df["Daily_Gaming_Hours"].min())
print(df["Daily_Gaming_Hours"].max())

0.5
6.0

In [58]:
print(df["Weekly_Gaming_Hours"].min())
print(df["Weekly_Gaming_Hours"].max())

3.5
42.0

In [59]:
print(df["Age"].min())
print(df["Age"].max())

18
35

In [60]:
print(df['Gender'].unique())
print(df['Occupation'].unique())
print(df['Game_Type'].unique())
print(df['Primary_Gaming_Time'].unique())
print(df['Performance_Impact'].unique())

['Male' 'Female']
['Working Professional' 'Student']
['Action' 'Sports' 'Puzzle' 'Casual' 'Strategy' 'Simulation']
['Morning' 'Night' 'Evening']
['Negative' 'Neutral' 'Positive']

In [61]:
df['Performance_Index'] = (df['Focus_Level']*10 + df['Productivity_Level']) / 2

In [62]:
df

,User_ID,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Weekly_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level,Performance_Impact,Sleep_Categories,Performance_Index
0,U0001,21,Male,Working Professional,Action,4.0,28.0,Morning,4.6,6,4,69,66,Negative,Short Sleep,53.0
1,U0002,35,Female,Student,Sports,1.0,7.0,Night,5.4,2,7,67,72,Neutral,Short Sleep,71.0
2,U0003,26,Male,Student,Puzzle,2.0,14.0,Morning,8.0,4,8,82,82,Positive,Optimal Sleep,81.0
3,U0004,32,Male,Working Professional,Action,1.0,7.0,Night,4.9,7,7,71,66,Neutral,Short Sleep,68.0
4,U0005,19,Male,Working Professional,Action,2.1,14.7,Morning,7.0,7,7,67,63,Neutral,Optimal Sleep,66.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,U0996,23,Female,Working Professional,Simulation,4.0,28.0,Morning,7.8,8,4,95,96,Neutral,Optimal Sleep,68.0
996,U0997,30,Female,Student,Puzzle,2.9,20.3,Morning,4.9,4,7,62,67,Neutral,Short Sleep,68.5
997,U0998,18,Male,Working Professional,Action,1.0,7.0,Night,4.6,2,8,92,89,Neutral,Short Sleep,84.5
998,U0999,25,Female,Student,Simulation,4.5,31.5,Morning,8.4,7,4,70,75,Neutral,Long Sleep,57.5
999,U1000,19,Female,Student,Strategy,4.5,31.5,Night,7.7,8,9,71,76,Neutral,Optimal Sleep,83.0

In [63]:
df['Focus_Level'].max()

np.int64(9)

In [64]:
suspicious = df[
    (df['Daily_Gaming_Hours'] > 8) & 
    (df['Academic_or_Work_Score'] > 90)
]
suspicious

Empty DataFrame
Columns: [User_ID, Age, Gender, Occupation, Game_Type, Daily_Gaming_Hours, Weekly_Gaming_Hours, Primary_Gaming_Time, Sleep_Hours, Stress_Level, Focus_Level, Academic_or_Work_Score, Productivity_Level, Performance_Impact, Sleep_Categories, Performance_Index]
Index: []

In [65]:
df.to_csv("cleaned_gaming_hours.csv")

In [66]:
df

,User_ID,Age,Gender,Occupation,Game_Type,Daily_Gaming_Hours,Weekly_Gaming_Hours,Primary_Gaming_Time,Sleep_Hours,Stress_Level,Focus_Level,Academic_or_Work_Score,Productivity_Level,Performance_Impact,Sleep_Categories,Performance_Index
0,U0001,21,Male,Working Professional,Action,4.0,28.0,Morning,4.6,6,4,69,66,Negative,Short Sleep,53.0
1,U0002,35,Female,Student,Sports,1.0,7.0,Night,5.4,2,7,67,72,Neutral,Short Sleep,71.0
2,U0003,26,Male,Student,Puzzle,2.0,14.0,Morning,8.0,4,8,82,82,Positive,Optimal Sleep,81.0
3,U0004,32,Male,Working Professional,Action,1.0,7.0,Night,4.9,7,7,71,66,Neutral,Short Sleep,68.0
4,U0005,19,Male,Working Professional,Action,2.1,14.7,Morning,7.0,7,7,67,63,Neutral,Optimal Sleep,66.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,U0996,23,Female,Working Professional,Simulation,4.0,28.0,Morning,7.8,8,4,95,96,Neutral,Optimal Sleep,68.0
996,U0997,30,Female,Student,Puzzle,2.9,20.3,Morning,4.9,4,7,62,67,Neutral,Short Sleep,68.5
997,U0998,18,Male,Working Professional,Action,1.0,7.0,Night,4.6,2,8,92,89,Neutral,Short Sleep,84.5
998,U0999,25,Female,Student,Simulation,4.5,31.5,Morning,8.4,7,4,70,75,Neutral,Long Sleep,57.5
999,U1000,19,Female,Student,Strategy,4.5,31.5,Night,7.7,8,9,71,76,Neutral,Optimal Sleep,83.0